body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* 16px - tamanho padrão */
    font-size: 1.5rem;
}

.txt1{
    font-weight: 100;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
}

.txt2{
    font-weight: 800;
    text-transform:lowercase;
    text-align: end;
}

.txt3{
    text-decoration: none;
    text-transform: capitalize;
    text-align: justify;
}